/* Estilos generales */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

/* Contenedor de donantes */
.donantes-container {
    padding: 20px;
}

/* Estilos de la tabla */
.donantes-table {
    width: 130%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para las celdas de la tabla */
.donantes-table th, .donantes-table td {
    border: 1px solid #ddd;
    padding: 9px;
    text-align: left;
}

/* Cabecera de la tabla */
.donantes-table th {
    background-color: #B40B0B;
    color: white;
    text-align: center;
}

/* Fila par en la tabla */
.donantes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Efecto hover en las filas */
.donantes-table tr:hover {
    background-color: #ddd;
}

/* Botón de eliminar */
.delete-button {
    background-color: #B40B0B;
    color: white;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #a00a0a;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    background-color: #B40B0B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    font-size: 1rem;
    color: #333;
}


/* Media Queries para hacer la tabla responsiva */
@media (max-width: 768px) {
    .donantes-table th, .donantes-table td {
        padding: 10px;
        font-size: 14px;
    }

    .delete-button {
        padding: 4px 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .donantes-table {
        font-size: 12px;
    }

    .donantes-table th, .donantes-table td {
        padding: 8px;
    }

    .delete-button {
        padding: 3px 6px;
        font-size: 12px;
    }
}
