/* Estilos generales */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.ver-citas-container {
    padding: 20px;
    text-align: center;
}

.citas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 20px;
}

.citas-table th, .citas-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.citas-table th {
    background-color: #B40B0B;
    color: white;
    text-align: center;
}

.citas-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.citas-table tr:hover {
    background-color: #ddd;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .citas-table {
        font-size: 0.9rem;
    }

    .citas-table th, .citas-table td {
        padding: 6px;
    }

    .citas-table th, .citas-table td {
        display: block;
        width: 100%;
    }

    .citas-table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .citas-table td {
        position: relative;
        padding-left: 50%;
    }

    .citas-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        white-space: nowrap;
    }
}

@media (max-width: 576px) {
    .citas-table {
        font-size: 0.8rem;
    }

    .citas-table th, .citas-table td {
        padding: 4px;
    }
}
