/* Layout general */
html, body {
    height: 100%; /* Aseguramos que el body y html ocupen todo el alto de la pantalla */
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido ocupe todo el alto disponible */
    height: 100vh; /* Hace que el layout ocupe todo el alto de la pantalla */
}

.main {
    flex-grow: 1; /* Permite que el main ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

/* Carrusel */
.carousel-section {
    width: 100%; /* El carrusel ocupa el 100% del ancho */
    height: 650px; /* Altura fija de 500px */
    aspect-ratio: 16 / 9; /* Mantener la proporción de 16:9 */
    overflow: hidden;
    background-color: red;
}

.carousel-card{
    position: relative;
    width: 100%;
    height: auto;
}

.composable-text{
    color: white;
}

.carousel-section img {
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    object-position: center;
    position: relative;
    z-index: 50;
    width: 100%;
    height: auto;
}

.carousel-text{
    position: absolute;
    z-index: 100;
    top: 15%;
    width: 50%;
    height: auto;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Ajusta los valores para la sombra */
}

.carousel-text h3{
    font-weight: bold;
}

/* Secciones debajo del carrusel */
.compose-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.mision-section, .vision-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    background-color: #b41a1a;
    padding: 24px;
    border-radius: 16px;
    color: white;
    box-shadow: 8px 20px 38px -15px rgba(0, 0, 0, 0.78);
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    padding: 18px 12px;
    text-align: justify;
}

.text-compose, .text-span{
    font-size: 1.75em;
}

h3{
    font-size: 2em;
}

/* Responsividad */
@media screen and (max-width: 1000px) {
    .layout {
        flex-direction: column; /* Cambiar la dirección a columna para dispositivos pequeños */
        align-items: center; /* Centrar todo el contenido */
        overflow-x: hidden;
    }

    /* Carrusel en pantallas pequeñas */
    .carousel-section {
        width: 100%;
        height: 250px;
        aspect-ratio: 16 / 9;
    }

    /* Organizar las secciones en columna */
    .compose-section {
        display: flex;
        flex-direction: column; /* Colocar las secciones en columna en pantallas pequeñas */
        width: 100%;
        gap: 20px;
    }

    .mision-section, .vision-section {
        width: 100%; /* En pantallas pequeñas, las secciones ocupan el 100% del ancho */
        height: auto; /* Ajustar al contenido */
    }

    /* Ajustar tamaño del texto para pantallas pequeñas */
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.75em;
        padding: 18px 12px;
        text-align: justify;
    }

    .carousel-text{
        position: absolute;
        z-index: 100;
        top: 5%;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carousel-text *{
        text-align: center;
        background-color: #b41a1a;
        border-radius: 16px;
        padding: 8px;
        color: white;
        display: inline-block;
    }

    h3{
        font-size: 1em;
        margin-bottom: 16px;
    }

    .text-span{
        font-size: 0.9em;
    }

    .text-compose{
        font-size: 0.9em;
    }

    .composable-text *{
        background: transparent;
    }

}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.2em; /* Reducción aún más para pantallas muy pequeñas */
    }

    p {
        font-size: 0.8em;
        padding: 10px 6px;
        text-align: justify;
    }

}
