.contacto-container {
    display: flex;
    background-color: #b41a1a;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.main-content-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; /* Asegura que las secciones se distribuyan equitativamente */
}

.main-content-footer .grow-1 {
    flex-grow: 1; /* Permite que los elementos crezcan para llenar el espacio */
}

.logo-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 33%; /* Asigna un tamaño fijo al logo en pantallas grandes */
}

.logo-stack img {
    scale: 0.25;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px;
    width: 33%; /* Fija el ancho del bloque de contacto */
}

.contacto-info .title {
    margin-bottom: 20px;
    font-weight: bold;
}

.contacto-info ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

.contacto-info li {
    padding: 10px 0;
}

.contacto-info .social-info {
    display: flex;
}

.social-info ul {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.social-info ul li {
    padding: 0 18px;
    scale: 1.5;
}

.social-info ul li:hover {
    scale: 1.8;
    transition: .3s ease-in all;
}

.social-info ul li a {
    color: white;
    text-decoration: none;
}

.map-info {
    height: auto;
    padding: 12px;
    width: 33%; /* Fija el ancho del mapa */
}

.map-info iframe {
    width: 95%;
    height: 325px;
    aspect-ratio: 1/1;
    border-radius: 16px;
}

@media screen and (max-width: 1000px) {
    .contacto-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }

    .main-content-footer {
        flex-direction: column; /* Coloca los elementos en columna */
        width: 100%;
        justify-content: center; /* Alinea los elementos de manera centrada */
    }

    .logo-stack,
    .contacto-info,
    .map-info {
        width: 100%; /* Cada sección ocupa el 100% del ancho en pantallas pequeñas */
        height: auto; /* Adapta la altura a su contenido */
        margin-bottom: 20px; /* Espaciado entre los elementos */
    }

    .logo-stack img {
        max-width: 100%; /* Asegura que el logo se ajuste bien */
    }

    .map-info iframe {
        height: 100%; /* El iframe ocupa todo el alto disponible dentro de su contenedor */
        aspect-ratio: 1/1; /* Mantiene la proporción */
    }

    .contacto-info ul {
        text-align: center;
    }
}