* {
    box-sizing: border-box;
}

.contacto-container {
    display: flex;
    background-color: #b41a1a;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.main-content-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; /* Asegura que las secciones se distribuyan equitativamente */
}

.main-content-footer .grow-1 {
    flex-grow: 1; /* Permite que los elementos crezcan para llenar el espacio */
}

.logo-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 33%; /* Asigna un tamaño fijo al logo en pantallas grandes */
}

.logo-stack img {
    scale: 0.25;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px;
    width: 33%; /* Fija el ancho del bloque de contacto */
}

.contacto-info .title {
    margin-bottom: 20px;
    font-weight: bold;
}

.contacto-info ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

.contacto-info li {
    padding: 10px 0;
}

.contacto-info .social-info {
    display: flex;
}

.social-info ul {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.social-info ul li {
    padding: 0 18px;
    scale: 1.5;
}

.social-info ul li:hover {
    scale: 1.8;
    transition: .3s ease-in all;
}

.social-info ul li a {
    color: white;
    text-decoration: none;
}

.map-info {
    height: auto;
    padding: 12px;
    width: 33%; /* Fija el ancho del mapa */
}

.map-info iframe {
    width: 100%;
    height: 400px;
    aspect-ratio: 1/1;
    border-radius: 16px;
}

@media screen and (max-width: 1000px) {
    .contacto-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
    }

    .main-content-footer {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .logo-stack,
    .contacto-info,
    .map-info {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .logo-stack img {
        scale: 0.5;
        max-width: 100%;
    }

    .contacto-info ul {
        text-align: center;
        padding: 0;
    }

    .map-info iframe {
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        max-height: 300px;
    }

    .social-info ul li {
        scale: 1.2;
        transition: 0.3s ease-in-out;
    }

    .social-info ul li:hover {
        scale: 1.4;
    }
}
