* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --md-filled-tonal-button-container-color: #971a1a;
    --md-filled-tonal-button-label-text-color: white;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.login-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-section,
.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

md-outlined-text-field {
    width: 100%;
    --md-sys-color-outline: #ddd;
    margin: 15px 0;
}

md-filled-tonal-button {
    font-weight: bold;
}

md-filled-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}

.google-signin span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-hr {
    width: 80%;
    border: 1px solid #c13434;
}

.button-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.89em;
}

.button-section button {
    background-color: #B3261E;
    color: white;
    font-weight: bolder;
    padding: 5px 18px;
    border: none;
    border-radius: 15px;
}

/* Estilos para el contenedor de la contraseña con ojito */
/* Contenedor para el campo de contraseña y el ícono */
.password-container {
    position: relative;
    width: 100%;
}

/* Campo de contraseña */
.password-field {
    width: 100%;
}

/* Botón para el ícono del ojo */
.password-toggle {
    position: absolute;
    right: 15px; /* Ajusta el espacio a la derecha */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #888;
}

/* Ajuste del tamaño del ícono */
.password-toggle svg {
    width: 20px;
    height: 20px;
}

/* Asegúrate de que el input tenga suficiente espacio en el lado derecho para el ícono */
md-outlined-text-field {
    padding-right: 40px; /* Ajusta este valor si es necesario */
}



/* Estilo para mensajes de error */
.error-message {
    color: #b3261e;
    font-size: 0.9rem;
    margin-top: -10px;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .login-content {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: stretch;
    }

    .left-section {
        display: none;
    }
}
