.header-compose{
    display: flex;
    background-color: #b41a1a;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-bottom: 30px;
}

.compose-container{
    padding: 25px;
}