.header-compose{
    display: flex;
    background-color: #b41a1a;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-bottom: 30px;
}

.compose-container{
    padding: 25px;
}

.confirmed-box{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #b41a1a;
    margin: 50px 0;
}

.advice-message{
    font-size: 1em;
    text-align: center;
    color: #b41a1a;
}